<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaou.exam.mapper.OptionMapper">

    <!-- 批量添加选型 -->
    <insert id="insertBatch">
        insert into u_exam_option
        values
        <foreach collection="options" item="option" separator="," index="i">
            (null,#{option.quId},#{option.isRight},#{option.image},#{option.content},#{i},0)
        </foreach>
    </insert>

    <!-- 根据试题id获取所有选项 -->
    <select id="selectAllByQuestionId" resultType="com.xiaou.exam.model.entity.Option">
        select id, qu_id, is_right, image, content, sort
        from u_exam_option
        where qu_id = #{id}
    </select>


</mapper>
