<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaou.xiaoueasyprojectbackend.module.support.question.mapper.OptionMapper">
    <!--    批量添加选型-->
    <insert id="insertBatch">
        insert into t_option
        values
        <foreach collection="options" item="option" separator="," index="i">
            (null,#{option.quId},#{option.isRight},#{option.image},#{option.content},#{i},0)
        </foreach>
    </insert>

    <!--    根据试题id列表删除所有试题的选项-->
    <update id="deleteBatchByQuIds">
        update t_option
        set is_deleted = 1
        where qu_id in
        <foreach collection="quIdList" item="quId" separator="," open="(" close=")">
            #{quId}
        </foreach>
    </update>

    <!--    根据试题id获取所有选项-->
    <select id="selectAllByQuestionId" resultType="com.xiaou.xiaoueasyprojectbackend.module.support.question.model.entity.Option">
        select id, qu_id, is_right, image, content, sort
        from t_option
        where qu_id = #{id}
    </select>
    <!--根据试题Id获取正确个数-->
    <select id="selectRightCountByIds" resultType="java.lang.Integer">
        select count(*) from t_option where id in
        <foreach collection="optionIds" item="optionId" separator="," open="(" close=")">
            #{optionId}
        </foreach>
        and is_right = 1
    </select>
    <select id="selectByQuestionId" resultType="com.xiaou.xiaoueasyprojectbackend.module.support.question.model.entity.Option">
        select id, qu_id, image, content, sort
        from t_option
        where qu_id = #{id}
    </select>
</mapper>
